# macOS
.DS_Store

# Flutter
**/build/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/.symlinks/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.dart_tool/
**/pubspec.lock
**/coverage/

# Node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Env
.env
*.local

# Editor
.vscode/
.idea/
*.iml

*.p8
