<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmtsfm4tlIOy5qRkCGjOaeUkpV56XGiwI</string>
	<key>GCM_SENDER_ID</key>
	<string>77216884489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.jlange.dpsgnews</string>
	<key>PROJECT_ID</key>
	<string>dpsg-news-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dpsg-news-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77216884489:ios:4b137f8eb0b603546e55d8</string>
</dict>
</plist>